body {
    min-height: 200vh;
    background-color:#f3f3f3;
}


.logo {
    font-weight: 300;
    padding-left: 10px;
}

.parallax-container {
    height: 500px;
}

.thin-text {
    font-weight: 300;
    background-color: rgba(117, 117, 117, .4);
    padding: 40px;
    border-radius: 10px;
}

/* .container {
    height: 500px;
} */

.card {
    margin: 50px;
}

nav {
    height: 100px;
}

.social_icons {
    height: 100px;
}

.social_icons {
    height: 100px;
}

.contact_container {
    margin: 150px;
}