body {
    min-height: 200vh;
}


.logo {
    font-weight: 300;
    padding-left: 10px;
}

.parallax-container {
    height: 500px;
}

.thin-text {
    font-weight: 300;
    background-color: rgba(84,110,122, .4);
    padding: 40px;
    border-radius: 10px;
}

.container {
    height: 500px;
}