body {
    min-height: 200vh;
    background-color:#f3f3f3;
    font-weight: 500;
}


.logo {
    font-weight: 300;
    padding-left: 10px;
}

.parallax-container {
    height: 500px;
}

.thin-text {
    font-weight: 300;
    background-color: rgba(117, 117, 117, .4);
    padding: 40px;
    border-radius: 10px;
}

h2 {
    text-decoration: underline;
}

.about {
    /* padding: 20px; */
    text-align:justify;
    margin: 400px;
}

.about img{
    float: left;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    shape-outside: circle();

}


/* .container {
    height: 500px;
} */

.card {
    margin: 50px;
}

nav {
    height: 100px;
}

.social_icons {
    height: 100px;
}

.social_icons:hover {
    height: 100px;
    
}

.contact_container {
    margin: 150px;
}